* {
  padding: 0;
  margin: 0;
  /* Eliminar min-height: 100vh de aquí */
}

.App {
  padding-top: 50px; /* Este valor debe ser igual a la altura de tu navbar */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 50px; /* Para el espacio del navbar fijo */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}